SPRING_DATASOURCE_URL: change-me
SPRING_DATASOURCE_USERNAME: change-me
SPRING_DATASOURCE_PASSWORD: change-me
SPRING_PROFILES_ACTIVE: change-me
JWT_SECRET: change-me
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID: change-me
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET: change-me