SPRING_PROFILES_ACTIVE=local
DB_HOST= change-me
DB_USER= change-me
DB_PASSWORD= change-me
JWT_SECRET= change-me
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID: change-me
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET: change-me