apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend
spec:
  template:
    metadata:
      annotations:
        gitops-test: "prod-overlay"
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: backend
          resources:
            requests:
              cpu: "300m"
              memory: "768Mi"
            limits:
              cpu: "1500m"
              memory: "1536Mi"
          startupProbe:
            httpGet:
              path: /health
              port: 8080
            failureThreshold: 30
            periodSeconds: 2
            timeoutSeconds: 1
          env:
            - name: SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT
              value: "2000"
            - name: SPRING_DATASOURCE_HIKARI_VALIDATION_TIMEOUT
              value: "1000"
            - name: SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE
              value: "10"
            - name: SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE
              value: "2"