spring:
    application:
        name: gradmanager-backend

    flyway:
        enabled: true
        locations: classpath:db/migration
        validate-on-migrate: true

server:
    port: 8080
    shutdown: graceful

logging:
    level:
        root: INFO
        org.springframework.jdbc.core: INFO

management:
    endpoints:
        web:
            exposure:
                include: health,info
    endpoint:
        health:
            probes:
                enabled: true
            show-details: never
    health:
        livenessstate:
            enabled: true
        readinessstate:
            enabled: true
