spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/gradmanager
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

management:
  endpoint:
    health:
      show-details: never
